#confirmDeleteMessage2 {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posición fija para estar siempre visible sobre la pantalla */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste para centrar el div */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacarlo */
    z-index: 1500; /* Asegúrate de que el z-index sea mayor que el del modal */
}

.agregarMarcaModal {
    z-index: 1040; /* Asegúrate de que el modal tenga un z-index más bajo */
}


#confirmDeleteMessage3 {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Posición fija para estar siempre visible sobre la pantalla */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajuste para centrar el div */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con algo de transparencia */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacarlo */
    z-index: 1500; /* Asegúrate de que el z-index sea mayor que el del modal */
}

.agregarCategoriaModal {
    z-index: 1040; /* Asegúrate de que el modal tenga un z-index más bajo */
}